<div class='row'>
    <div class='col-sm-4'>
        <div class='club-display-dataline' >{{label}}</div>
    </div>
    <div class='col-sm-2'>
        <div class='club-display-dataline'>{{numDisplay}}</div>
    </div>
    <div class='col-sm-4'>
        <div>
            <table class='club-detail-table-bar'>
                <tr>
                    <td class='club-detail-row-value' style='{{stylePctValue}}'></td><td class='club-detail-row-bg'></td>
                </tr>
            </table>
        </div>
    </div>
</div>
