@font-face {
    font-family: lucky;
    src: url(../assets/fonts/luckiest-guy-latin-400.woff);
    src: url(../assets/fonts/luckiest-guy-latin-400.woff2);
}



.menuname {
    color: green;
    font-family: lucky;    
}

.const-banner {    
    font-family: lucky;
    font-size: 20pt;
    text-align: center;
    margin: 20px;
}

.image-ctr-m30 {

    text-align: center;
    margin: 30px;
}

/* .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  } */