<div class='card'>
    <div class='card-header' >
    <div class='col-md-8'>
        <div class='row'>
        <div class='col-md-4'><div class='picker-header'>Choose Club Type</div></div>
        <div class='col-md-4'></div><div class='picker-header'>Choose Club</div></div>
        </div>

    </div>


    <div class='card-body'>
        <div class='row' *ngIf='clubTypeList'>
            <table>
                <thead><div>Club Types</div></thead>
                <tbody>
                    <tr *ngFor='let cType of clubTypeList'>
                        <td>{{cType.ClubType}} -- </td><td>{{cType.DisplayName}}</td>
                    </tr>
                </tbody>
            </table>
        </div> 

    </div>
</div>
