<div class='card'>
    <div class='card-header' >
    <div class='col-md-8'>
        <div class='row'>

            <div class='col'><div class='picker-header'>Choose Club Type</div></div>

            <div class='col'><div class='picker-header'>Choose Club</div></div>
        </div>            
        <div class='row'>
            <div class='col'>
                 <select (change)="clubTypeChanged($event)">
                    <option *ngIf='noTypeSelected' >Select a Club Type</option>
                    <option *ngFor="let clubType of clubTypeList" [value]="clubType?.ClubType" > {{clubType?.DisplayName}}</option>
                </select> 
            </div>
            <div class='col'>
                <select (change)="clubChanged($event)">
                    <option *ngFor="let club of clubList"> {{club}}</option>
                </select> 
            </div>
        </div>
    </div>


<!--    <div class='card-body'>
         <div class='row' *ngIf='clubTypeList'>
            <table>
                <thead><div>Club Types</div></thead>
                <tbody>
                    <tr *ngFor='let cType of clubTypeList'>
                        <td>{{cType.ClubType}} -- </td><td>{{cType.DisplayName}}</td>
                    </tr>
                </tbody>
            </table>
        </div> 

    </div>--> 
</div>
